.img-container {
  position: relative;
  display: flex;
  width: 100%; /* Full width */
  max-width: 100%; /* Remove any maximum width restrictions */
  justify-content: center;
  overflow: hidden;
  pointer-events: auto; /* Allow right-click on images */
}


.img-container img {
  width: 100%; /* Full width for images in img-container */
  height: auto;
}

/* Secondary (overlay) image styling */
.img-container .image-2 {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: auto;
  transform: translateX(-50%);
  clip-path: inset(0 50% 0 0);
  /* transition: clip-path 0.3s ease; /* Smooth transition for slider */
  
}

/* Slider container should be relative to the image */
.slider-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%; /* Matches the image width */
  max-width: 100%;
  display: flex;
  align-items: center;
  pointer-events: none;
  margin: 0;
  overflow: hidden
  
}

/* Remove the slider thumb and make the image draggable */
.image-slider {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Ensure slider stays within image */
  max-width: 100%; /* Limit to image width */
  height: 100%;
  background: transparent;
  outline: none;
  cursor: pointer;
  z-index: 5;
  pointer-events: all;
}

/* Updated Slider Line Styling */
.slider-line {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 4px; /* Make it a bit more visible */
  background: rgba(255, 255, 255, 0.7);
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  z-index: 3;
}


.image-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0px;
  height: 60px;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  cursor: grab;
}

.image-slider::-moz-range-thumb {
  width: 0px;
  height: 60px;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  cursor: grab;
}
